Repository arkbuchholz/playwright: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc, eslint, prettier --write

Publish report at GitHub Pages
  .github/workflows/playwright.yaml
Due: none

Publish report at GitHub Pages
  .github/actions/setup/action.yaml
  .github/workflows/playwright.yaml
  .github/workflows/static-analysis.yaml
Due: none

deploy: a92ea6be99b479b4fb5e90d329a1803c5df0e2ab
  .github/actions/setup/action.yaml
  .github/workflows/playwright.yaml
  .github/workflows/static-analysis.yaml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .nojekyll
  .prettierignore
  .prettierrc
  LICENSE
  README.md
  eslint.config.mjs
  index.html
  package-lock.json
  package.json
  playwright.config.ts
  src/support/pages/BaseClass.ts
  src/support/pages/BaseFixture.ts
  src/support/pages/Calendar/Calendar.assertion.ts
  src/support/pages/Calendar/Calendar.page.ts
  src/support/pages/Calendar/Calendar.selectors.ts
  src/support/pages/Login/Login.assertion.ts
  src/support/pages/Login/Login.page.ts
  src/support/pages/Login/Login.selectors.ts
  src/support/pages/Onboarding/Onboarding.assertion.ts
  src/support/pages/Onboarding/Onboarding.page.ts
  src/support/pages/Onboarding/Onboarding.selectors.ts
  src/tests/login.spec.ts
  tsconfig.json
Due: tsc, eslint, prettier --write

Publish report at GitHub Pages (#8)
  .github/actions/setup/action.yaml
  .github/workflows/playwright.yaml
  .github/workflows/static-analysis.yaml
Due: none

Add Ortoni reporter
  .github/workflows/playwright.yaml
  .gitignore
  eslint.config.mjs
  package-lock.json
  package.json
  playwright.config.ts
Due: tsc, eslint, prettier --write

deploy: a445291964ef4adefd5a5c460342a778f114937f
  index.html
  ortoni-data-history.sqlite
  trace/assets/codeMirrorModule-KatbITLF.js
  trace/assets/inspectorTab-DdpLd2bb.js
  trace/assets/testServerConnection-DeE2kSzz.js
  trace/assets/workbench-CdYbzWFD.js
  trace/codeMirrorModule.ez37Vkbh.css
  trace/codicon.DCmgc-ay.ttf
  trace/embedded.6m3UZh7r.js
  trace/embedded.html
  trace/embedded.w7WN2u1R.css
  trace/index.CrbWWHbf.css
  trace/index.WUV-8boJ.js
  trace/index.html
  trace/inspectorTab.DEOUW62d.css
  trace/playwright-logo.svg
  trace/recorder.B_SY1GJM.css
  trace/recorder.OT2tVHgn.js
  trace/recorder.html
  trace/snapshot.html
  trace/sw.bundle.js
  trace/uiMode.BZBTyvGn.js
  trace/uiMode.html
  trace/uiMode.voC1ZiOQ.css
  trace/workbench.C-zR9ysA.css
  trace/xtermModule.DSXBckUd.css
Due: eslint, prettier --write

Add Ortoni reporter
  .github/workflows/playwright.yaml
Due: none

deploy: 029f369995b0c433de25530d22cef91221c92796
  index.html
  ortoni-data-history.sqlite
Due: none

Add Ortoni. Odhin and Playwright HTML reporters
  .github/workflows/playwright.yaml
  .gitignore
  eslint.config.mjs
  package-lock.json
  package.json
  playwright.config.ts
  reporters/html/config.ts
  reporters/odhin/config.ts
  reporters/ortoni/config.ts
  reporters/reporter.config.ts
  reports/index.html
  reports/style.css
  tsconfig.json
Due: tsc, eslint, prettier --write

deploy: f9162a7071f22f6e10ffcca1f3963cbc94f4560e
  html/index.html
  index.html
  odhin/index.html
  ortoni-data-history.sqlite
  ortoni/index.html
  ortoni/ortoni-data-history.sqlite
  ortoni/trace/assets/codeMirrorModule-KatbITLF.js
  ortoni/trace/assets/inspectorTab-DdpLd2bb.js
  ortoni/trace/assets/testServerConnection-DeE2kSzz.js
  ortoni/trace/assets/workbench-CdYbzWFD.js
  ortoni/trace/codeMirrorModule.ez37Vkbh.css
  ortoni/trace/codicon.DCmgc-ay.ttf
  ortoni/trace/embedded.6m3UZh7r.js
  ortoni/trace/embedded.html
  ortoni/trace/embedded.w7WN2u1R.css
  ortoni/trace/index.CrbWWHbf.css
  ortoni/trace/index.WUV-8boJ.js
  ortoni/trace/index.html
  ortoni/trace/inspectorTab.DEOUW62d.css
  ortoni/trace/playwright-logo.svg
  ortoni/trace/recorder.B_SY1GJM.css
  ortoni/trace/recorder.OT2tVHgn.js
  ortoni/trace/recorder.html
  ortoni/trace/snapshot.html
  ortoni/trace/sw.bundle.js
  ortoni/trace/uiMode.BZBTyvGn.js
  ortoni/trace/uiMode.html
  ortoni/trace/uiMode.voC1ZiOQ.css
  ortoni/trace/workbench.C-zR9ysA.css
  ortoni/trace/xtermModule.DSXBckUd.css
  style.css
Due: eslint, prettier --write

Add GitHub Actions reporter
  package-lock.json
  package.json
  reporters/reporter.config.ts
Due: tsc, eslint, prettier --write

deploy: 5d969e3b15669ed45ad38a6d041e1d5568cbfac3
  html/index.html
  odhin/index.html
  ortoni/index.html
  ortoni/ortoni-data-history.sqlite
Due: none

Add GitHub Actions reporter
  reporters/github-actions/config.ts
Due: tsc, eslint, prettier --write

deploy: 222c97dee9b0130128dae416828b6fd87d7cf46e
  html/index.html
  odhin/index.html
  ortoni/index.html
  ortoni/ortoni-data-history.sqlite
Due: none

Add GitHub Actions reporter
  reporters/reporter.config.ts
Due: tsc, eslint, prettier --write

deploy: b0f913b3cc0b927eb7fd3ad1a04917412b036790
  html/index.html
  odhin/index.html
  ortoni/index.html
  ortoni/ortoni-data-history.sqlite
Due: none

Add Allure reporter
  .github/workflows/playwright.yaml
  .gitignore
  eslint.config.mjs
  package-lock.json
  package.json
  reporters/github-actions/config.ts
  reporters/reporter.config.ts
  reports/index.html
Due: tsc, eslint, prettier --write

Enable history in Allure
  .github/workflows/playwright.yaml
Due: none

Update report history
  reports/allure/history/categories-trend.json
  reports/allure/history/duration-trend.json
  reports/allure/history/history-trend.json
  reports/allure/history/history.json
  reports/allure/history/retry-trend.json
Due: none

deploy: 8f16c7354511c3f8e18a06dd0ef763deadc8d4c3
  allure/data/behaviors.json
  allure/data/packages.json
  allure/data/suites.csv
  allure/data/suites.json
  allure/data/test-cases/10e2dd00de08c4c0.json
  allure/data/test-cases/3bc1f6c55a858d9f.json
  allure/data/test-cases/6421c67d31e5013f.json
  allure/data/test-cases/69687177f8cb37a.json
  allure/data/test-cases/9c674509c27a886f.json
  allure/data/test-cases/e157063c854ff7c7.json
  allure/data/timeline.json
  allure/export/influxDbData.txt
  allure/export/prometheusData.txt
  allure/history/duration-trend.json
  allure/history/history.json
  allure/index.html
  allure/widgets/duration-trend.json
  allure/widgets/duration.json
  allure/widgets/severity.json
  allure/widgets/status-chart.json
  allure/widgets/summary.json
  html/index.html
  index.html
  odhin/index.html
  ortoni/index.html
  ortoni/ortoni-data-history.sqlite
  style.css
Due: none

Path conditions:
  tsc: any of: *.ts
  eslint: any of: *.{js,mjs,ts}
  prettier --write: any of: *.{js,mjs,ts}
